# Set default behavior to automatically normalize line endings
* text=auto

# Force LF for web files
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.svg binary
